<div class="container">
  <form class="form-control" (ngSubmit)="saveResponseParent(responseToParent)">
    <div class="row">
      <div class="col-4 order-last">
        <button type="submit" class="btn btn-primary my-4" >Agregar Respuesta </button>
      </div>
      <div class="col-8 mb-2">
        <textarea [(ngModel)]="responseToParent.message" class="form-control" [name]="'responseParent'+commentsParentList[iParentComment].user.name.slice(0,3)+iParentComment" [id]="'responseParent'+commentsParentList[iParentComment].user.name.slice(0,3)+iParentComment" cols="50" rows="3"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="accordion" id="accordionAnswers" *ngIf="commentsParentList[iParentComment].response.length>0">
  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordion'+commentsParentList[iParentComment].user.name.slice(0,3)+iParentComment" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Ver {{commentsParentList[iParentComment].response.length}} respuestas
      </button>
    </div>
    <div  [id]="'accordion'+commentsParentList[iParentComment].user.name.slice(0,3)+iParentComment" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <div class="row accordion border py-4 my-3" *ngFor="let answer of commentsParentList[iParentComment].response; let j = index">
          <div class="col-3 text-center my-auto">
            <img [src]="answer.user.profileImage" style="width: 75%;" class="img-thumbnail rounded-circle">
            <h5>{{answer.user.name}}</h5>
          </div>
          <div class="col-9">
            <p id="userComment" name="userComment" aria-describedby="Comment for Aval Buro">
              {{answer.message}}
            </p>
          </div>
          <div class="container" *ngIf="answer.response.length===0">
            <form action="" (ngSubmit)="saveResponseChild(responseToChild,j)">
              <div class="row">
                <div class="col-4 order-last">
                  <button type="submit" class="btn btn-primary my-4" >Agregar Respuesta</button>
                </div>
                <div class="col-8 mb-2">
                  <textarea [(ngModel)]="responseToChild.message" class="form-control" [name]="'responseChild'+commentsParentList[iParentComment].response[j].user.name.slice(0,3)+j" [id]="'responseChild'+commentsParentList[iParentComment].response[j].user.name.slice(0,3)+j" cols="50" rows="3"></textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="container" *ngIf="answer.response.length>0">
            <app-responses [commentsParentList]="commentsParentList[iParentComment].response" [iParentComment]="j"></app-responses>
          </div>

      </div>
    </div>
  </div>
</div>
